.container-fluid {
  padding: 0;
}

.navbar-brand {
  margin-left: 15px;
}

.navbar {
  background-color: gray;
}

.dropdown-menu.show {
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 100vw;
}

li {
  margin-top: 2px;
  border: 2px;
  background-color: white;
}
